
body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 75px;
  color: #3b3d3f;
  background: url('/img/fundo.jpg') no-repeat center center fixed;
  background-size: cover;
}

.profile-header {
  width: 150px;
  align-items: center;
  height: 150px;
  padding-top: 2rem;
  top: -100px;
  align-self: center;
}
.profile-icon{
  max-width: 100%;

}
.border-profile{
  border: 0.2rem solid rgba(2, 0, 0, 0.5);
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 16rem;
  }

  .profile-header {
    display: none;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
  color: #191b1d;
}

h1 {
  font-size: 3rem;
  line-height: 5.5rem;
  text-align: center;
  padding-top: 60px;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  font-weight: 100;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.3rem;
  margin-top: 5px;
}

.social-icons a {
  display: inline-block;
  color: #ffffff; 
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
}

.social-icons a:last-child {
  margin-right: 1rem;
}

.social-icons a:hover {
  color: #bbb8b8;
}

.dev-icons {
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
}

.skill-header {
  text-align: center;
  background: rgb(0, 0, 0);
  width: 90px;
  height: 90px;
  padding-top: 2rem;
  top: -45px;
  left: 50%;
  margin-left: -45px;
}




.skill-icon{
  margin-top: -12px !important;
  max-width: 60%;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #252525;
 
}

@media (min-width: 992px) {

  h1 {
    font-size: 4rem;
    line-height: 5.5rem;
    text-align: left;
    padding-top: 0px;
  }



  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin-top: auto;
    padding: 0.0rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 11rem;
    max-height: 11rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: none;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #020202!important;
}
.bg-alter {
  background-color: rgb(159, 160, 159);
}

.post-color{
  background-color: rgb(255, 255, 255);
}

.card-color{
  background-color: rgb(255, 255, 255);
}

.card-border{
  border-top: 0.2rem solid rgb(0, 0, 0);

}

.text-primary {
  color: rgb(0, 0, 0) !important;
}

a {
  color: rgb(0, 0, 0);
}

a:hover, a:focus, a:active {
  color: #000000;
}

